* {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.close-btn {
  background: none;
  border: none;
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.cart-item {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

.remove-btn {
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 8px;
  cursor: pointer;
}

.checkout-box {
  margin-top: 20px;
}

.checkout-box input,
.checkout-box textarea {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  background: #000;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
}

.pay-btn,
.pdf-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

.pay-btn {
  background: green;
  color: white;
}

.pdf-btn {
  background: gold;
  color: black;
}

footer {
  text-align: center;
  padding: 30px;
  color: #aaa;
}
